<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <h2>Введите данные</h2>
        <form action="#" th:action="@{/start}" th:object="${user}" method="post">
            <label>Имя: <input type="text" th:field="*{firstName}" required placeholder="Иван"></label>
            <label>Фамилия: <input type="text" th:field="*{lastName}" required placeholder="Иванов"></label>
            <label>Email: <input type="email" th:field="*{email}" required placeholder="iiivan@yandex.ru"></label>
            <button type="submit">Отправить</button>
        </form>
    </main>
</body>
</html>